In [16]:
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [17]:
jm=pd.read_csv("C:/Users/pcc/Desktop/suga.csv")
print(jm)

     Electricity  Two_Wheeler  Four_Wheeler  Transportation_vehicle  \
0             65            2             1                       1
1             22            1             1                       1
2            250            1             1                       1
3             60            1             0                       0
4            200            2             1                       0
..           ...          ...           ...                     ...
98            72            2             1                       0
99           200            1             0                       0
100           65            3             0                       0
101          260            2             0                       0
102           60            2             0                       0

     Mileage_Two_Wheeler  Mileage_Four_Wheeler  \
0                     45                    15
1                     50                    18
2                     55                    13
3                     30                     0
4                     35                    20
..                   ...                   ...
98                    45                    18
99                    45                     0
100                   60                     0
101                   50                     0
102                   50                     0

     Mileage_Transportation_Vehicle  Vehicle_Maintenance  EXP_Grocery  \
0                                16                  150         4500
1                                18                  200         1500
2                                16                 1000         1000
3                                 0                  200         1000
4                                 0                 1000         3000
..                              ...                  ...          ...
98                                0                  300         8000
99                                0                  400         1000
100                               0                  500         7500
101                               0                 1000        10000
102                               0                 3000         5000

     EXP_Clothes  EXP_Newspaper  Mob_recharge  Exp_computer  Exp_TV  \
0            300            300           500             0   15000
1            200            400           500             0   10000
2            500            250          1500          1000    2000
3           1000            400          1200             0    1000
4           1000            300           800          2000    6000
..           ...            ...           ...           ...     ...
98          5000            150          1000          2000    4500
99          1000            300           500             0    5000
100          250            150          1000             0    1500
101         5000           2000          2000          5000    5000
102          450            200           800             0    2500

     Exp_furniture  Insurance    Education_cost  Cost_family_event  Exp_hotel  \
0             2000        3000            25000               2500       1500
1             5000        5000            20000                600        600
2             1000        1500            40000                500       2000
3             2000         500                0                350        300
4             3000           0            10000               1000       1000
..             ...         ...              ...                ...        ...
98            3300        1500           150000               2000       4000
99            3600         500            25000                500          0
100           1000        2000            20000               1000        250
101           5000        1000            50000               1000       1000
102           3500         600            25000               4000        350

     Carbon_Footprint
0                   0
1                   2
2                   2
3                   0
4                   2
..                ...
98                  2
99                  0
100                 0
101                 1
102                 0

[103 rows x 20 columns]

In [18]:
jm.describe()

,Electricity,Two_Wheeler,Four_Wheeler,Transportation_vehicle,Mileage_Two_Wheeler,Mileage_Four_Wheeler,Mileage_Transportation_Vehicle,Vehicle_Maintenance,EXP_Grocery,EXP_Clothes,EXP_Newspaper,Mob_recharge,Exp_computer,Exp_TV,Exp_furniture,Insurance,Education_cost,Cost_family_event,Exp_hotel,Carbon_Footprint
count,103.000000,103.000000,103.000000,103.000000,103.000000,103.00000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000
mean,136.718447,1.631068,0.427184,0.067961,42.087379,7.15534,0.786408,906.601942,5352.427184,1425.728155,412.174757,1264.776699,1231.067961,4241.844660,3258.252427,2196.601942,26825.242718,1868.543689,977.669903,0.766990
std,104.420663,0.816380,0.587483,0.321215,13.764908,9.55352,3.505319,1630.030406,3760.210796,1948.023937,612.690697,1555.866318,2581.648247,4115.184876,2733.973775,4186.628236,44274.915924,3389.202407,1341.562744,0.962064
min,22.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,500.000000,100.000000,100.000000,135.000000,0.000000,0.000000,1000.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,67.000000,1.000000,0.000000,0.000000,40.000000,0.00000,0.000000,200.000000,2500.000000,500.000000,150.000000,500.000000,0.000000,2000.000000,1500.000000,0.000000,0.000000,300.000000,200.000000,0.000000
50%,100.000000,2.000000,0.000000,0.000000,40.000000,0.00000,0.000000,500.000000,4000.000000,1000.000000,200.000000,800.000000,0.000000,3600.000000,2200.000000,600.000000,8000.000000,1000.000000,500.000000,0.000000
75%,180.000000,2.000000,1.000000,0.000000,50.000000,17.00000,0.000000,1000.000000,7750.000000,1500.000000,400.000000,1200.000000,1500.000000,4500.000000,4250.000000,2250.000000,38000.000000,2000.000000,1200.000000,2.000000
max,540.000000,4.000000,2.000000,2.000000,70.000000,30.00000,18.000000,15000.000000,20000.000000,15000.000000,5000.000000,10000.000000,20000.000000,25000.000000,15000.000000,25000.000000,200000.000000,30000.000000,10000.000000,2.000000

In [19]:
x=jm.drop('Carbon_Footprint',axis='columns')
y=jm['Carbon_Footprint']

In [20]:
feature_names=x.columns

In [21]:
from sklearn.ensemble import RandomForestClassifier

In [22]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.3)

In [23]:
my_model=RandomForestClassifier()

In [24]:
my_model.fit(x_train,y_train)

RandomForestClassifier()

In [25]:
y_test_pred=my_model.predict(x_test)

In [26]:
print(metrics.accuracy_score(y_test,y_test_pred))

0.8064516129032258

In [27]:
from sklearn.metrics import mean_squared_error
from math import sqrt
train_preds = my_model.predict(x_train)
mse = mean_squared_error(y_train, train_preds)
rmse = sqrt(mse)
rmse

0.0

In [29]:
test_preds = my_model.predict(x_test)
mse = mean_squared_error(y_test, test_preds)
rmse = sqrt(mse)
rmse

0.762000762001143